.row {
    display: flex;
    flex-wrap: wrap;
    margin-left: -1.19rem;
    margin-right: -1.19rem;
}

.col-xs-12, .col-md-12 {
    position: relative;
    min-height: 1px;
    padding-left: 1.19rem;
    padding-right: 1.19rem;
}

.col-xs-12 {
    flex: 0 0 100%;
    max-width: 100%;
}

@media (min-width: 768px) {
    .col-md-12 {
        flex: 0 0 100%;
        max-width: 100%;
    }
}
