.search-form {
    margin: 0 auto;
    padding: 0;
    align-items: center;
    background: transparent;
    border: 1px solid #dddddd;
    display: flex;
}

.search-form__submit {
    padding: 15px 18px;
    color: #fff;
    height: 50px;
    flex: 0;
    width: 100%;
}

@media (min-width: 992px) {
    .search-form {
        display: flex;
        justify-content: space-between;
    }
}

.search-form label {
    font-size: 0;
    flex: 3 1 auto;
}

.search-form__field[type="search"] {
    float: none;
    box-sizing: border-box;
    height: 43px;
    width: 100%;
    border-radius: 0;
    -webkit-appearance: none;
    background: transparent;
}

.search-form__submit:before {
    content: '\f002';
    font-family: 'FontAwesome';
    display: inherit;
    font-size: 16px;
    line-height: 1;
}

@media (min-width: 544px) and (max-width: 767px) {
    .search-form__submit {
        width: auto;
        margin: 0;
    }
}

@media (min-width: 992px) {
    .search-form__submit {
        margin: 0;
        width: auto;
    }
}

.search-form_wrap .close-btn, .search-form_wrap .open-btn {
    display: none;
}

.search-form__field {
    color: #828282;
}

.search-form__field::-webkit-input-placeholder {
    color: #828282;
}

.search-form__field::-moz-placeholder {
    color: #828282;
}

.search-form__field:-moz-placeholder {
    color: #828282;
}

.search-form__field:-ms-input-placeholder {
    color: #828282;
}
