.site-info {
    position: relative;
    z-index: 5;
}

.site-info__flex {
    align-content: stretch;
    align-items: flex-start;
    display: flex;
    flex-direction: column;
    flex-wrap: nowrap;
    justify-content: space-between;
    text-align: center;
}

@media (min-width: 768px) {
    .site-info__flex {
        align-items: center;
        display: flex;
        flex-direction: row;
    }
}

.site-info__mid-box {
    align-self: center;
    flex: 0 1 auto;
    order: 2;
    text-align: center;
}

@media (min-width: 768px) {
    .site-info__mid-box {
        order: 1;
    }
}

.site-info__right-box {
    flex: 1;
    order: 2;
}
