.site-footer {
    background-color: #212226;
}

.site-footer:after {
    clear: both;
    margin: 0 auto;
    background-color: #212226;
}

.site-footer:before, .site-footer:after {
    content: "";
    display: table;
    table-layout: fixed;
}
