.top-panel {
    background-color: #212226;
    flex: 1 0 100%;
    order: 2;
    text-align: left;
    z-index: 100;
}

@media (min-width: 768px) {
    .top-panel {
        border-bottom: none;
        margin: 0;
    }
}

.top-panel__search {
    margin: 0;
    order: 2;
    text-align: right;
}

@media (max-width: 543px) {
    .top-panel__search {
        width: 100%;
    }
}

@media (min-width: 544px) {
    .top-panel__search {
        flex: 0 1 100%;
    }
}

@media (min-width: 768px) {
    .top-panel__search {
        box-sizing: content-box;
        display: inline-block;
        flex: 0 1 auto;
        height: 60px;
        order: 4;
        padding-bottom: 0;
        text-align: left;
        width: 50px;
    }

    .top-panel__search > * {
        box-sizing: border-box;
    }
}

@media (min-width: 992px) {
    .top-panel__search {
        text-align: right;
    }
}

@media (min-width: 1200px) {
    .top-panel__search {
        flex: 0 1 auto;
    }
}

.top-panel__search .search-form {
    background: #fff;
    border: 1px solid #dddddd;
    display: flex;
    overflow: hidden;
    padding: 0;
    right: 0;
    transition: 200ms opacity;
    top: 6px;
    width: 100%;
    z-index: 10;
}

@media (min-width: 768px) {
    .top-panel__search .search-form {
        max-width: inherit;
        opacity: 0;
        padding: 10px;
        position: absolute;
        right: 40px;
        top: -10px;
        visibility: hidden;
        width: 320px;
        z-index: 100;
    }
}

@media (min-width: 1200px) {
    .top-panel__search .search-form {
        z-index: -1;
        padding: 30px;
        width: 350px;
        top: -30px;
    }
}

.top-panel__search .search-form_wrap {
    position: relative;
    padding: 0;
}

.top-panel__search .search-form_wrap .close-btn, .top-panel__search .search-form_wrap .open-btn {
    display: none;
    vertical-align: middle;
    position: absolute;
    right: 0;
    opacity: 0;
    padding: 0;
    transition: 300ms all;
}

@media (min-width: 768px) {
    .top-panel__search .search-form_wrap .close-btn, .top-panel__search .search-form_wrap .open-btn {
        right: 0;
        margin-right: 0;
        display: inline-block;
    }
}

.top-panel__search .search-form_wrap .close-btn a, .top-panel__search .search-form_wrap .open-btn a {
    font-size: 24px;
    line-height: 50px;
    height: 50px;
    display: inline-block;
    text-align: center;
    outline: none;
    width: 30px;
}

@media (max-width: 543px) {
    .top-panel__search .search-form_wrap .close-btn a, .top-panel__search .search-form_wrap .open-btn a {
        width: 50px;
        line-height: 60px;
        height: 60px;
        text-align: center;
    }
}

.top-panel__search .search-form_wrap .close-btn a i, .top-panel__search .search-form_wrap .open-btn a i {
    line-height: 63px;
}

.top-panel__search .search-form__field {
    background: transparent;
}

@media (min-width: 768px) {
    .top-panel__search .search-form__field {
        transform: translateX(100%);
        transition: 300ms all;
    }
}

.top-panel__search .search-form__submit {
    flex: 0 1 auto;
    width: 50px;
    height: 50px;
}

@media (min-width: 768px) {
    .top-panel__search .search-form__submit {
        transform: translateX(100%);
        transition: 200ms all;
    }
}

.top-panel__search .search-form__submit:before {
    content: '\f002';
    font-family: 'FontAwesome';
    display: block;
    font-size: 16px;
    line-height: 1;
}

.top-panel__search .search-form_wrap .close-btn {
    opacity: 0;
    visibility: hidden;
    transform: translateX(100%);
}

@media (max-width: 543px) {
    .top-panel__search .search-form_wrap .close-btn {
        transform: translateX(0);
    }
}

.top-panel__search .search-form_wrap .open-btn {
    opacity: 1;
    visibility: visible;
    transform: translateX(0);
}

.top-panel__wrap {
    display: block;
    padding-left: 1.98333rem;
    padding-right: 1.98333rem;
}

.top-panel__wrap:after {
    display: none;
}

@media (min-width: 768px) {
    .top-panel__wrap {
        align-items: center;
        display: flex;
        flex-wrap: wrap;
        padding-left: 0;
        padding-right: 0;
    }
}

@media (min-width: 1200px) {
    .top-panel__wrap {
        display: flex;
        align-items: center;
        padding: 0 1.98333rem;
    }
}
